li {
    list-style-type: none;
}

.wrap {
    background: #fff9e1;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 1px 6px 1px gray;
}

#main section {
    background: linear-gradient(120deg, #98a4b9, #0058f3);
    height: 44vh;
    border-radius: 7px 7px 73px 7px;
    color: white;
    width: 33vw;
    border: 1px solid white;
    box-shadow: 0px 2px 6px 1px black;
}

#main section button {
    color: white;
}

#sectionA {
    position: relative;
}


.lol_main_img img {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 15px 6px black;
}

#secA_carry_logo {
    position: absolute;
    top: 10%;
    left: 17%;
    width: 252px;
    height: 69px;
}

#secA_carry_logo h1 {
    font-size: 70px;
}

#sectionA #lol_main_letter {
    position: absolute;
    left: 50%;
    top: 2%;
}

#sectionA #lol_main_letter img {
    width: 60%;
}

#secA_search {
    position: absolute;
    width: 100%;
    top: 0;
}


#lol-tier-img img {
    position: relative;
    height: 351px;
    margin-left: 25px;
}

.lol-tier-img_p {
    position: absolute;
    color: white;
    font-size: 13px;
    font-style: oblique;
    background: #C9BCFA;
    border-radius: 0.4em 0.4em 0.4em 0;
    right: 420px;
    top: 40px;
    width: 209px;
    padding: 10px;
}

.lol-tier-img_p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #C9BCFA;
    border-bottom: 0;
    margin-left: 0;
    margin-bottom: -20px;
}

/****************************/
/*      섹션 B ~ D          */
/****************************/
#secB_D {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.sub-title {
    border-bottom: white 1px solid;
    border-top: white 1px solid;
    padding: 10px;
}

.sub-body {
    padding: 10px;
}
/****************************/
/*      섹션 B ~ D 끝         */
/****************************/


/****************************/
/*      섹션 B 시작          */
/****************************/
#sectionB {

}

#tier_thumbnail dt {
}

#tier_thumbnail dd{
    border-bottom: white 1px solid;
    height: 25px;
    box-shadow: 0px 2px 1px 1px gray;
    /*TODO section 색상과 같은 색으로*/
}

#patch-version {
    padding: 0 10px;
    text-align: right;
    border-top: none;
}

/****************************/
/*      섹션 B 끝          */
/****************************/

/****************************/
/*      섹션 C 시작          */
/****************************/

#sectionC {
    left: 35%;
    bottom: -19vh;
    color: black !important;
}


#faker {
    position: absolute;
    width: 227px;
    /*height: 321px;*/
    box-shadow: 0 1px 15px 7px #000000;
    border: 1px solid black;
}

#faker-frame {
    position: absolute;
    left: -8px;
    width: 368px;
    height: 500px;
    top: 1008px;
    z-index: -1;
}

#pro_build_thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 25px;
}

#pro_build_thumbnail dd{
    border-bottom: white 1px solid;
    height: 25px;
    box-shadow: 0px 2px 1px 1px gray;
    width: 48%;
}


/****************************/
/*      섹션 C 끝          */
/****************************/

/****************************/
/*      섹션 D 시작          */
/****************************/
#sectionD {
    position: relative;
    left: 2%;
}

#lol-news-img img {
    position: absolute;
    margin-top: 62px;
    height:277px;
    left: 581px;
    z-index: 1;
    opacity: 0.6;
}

#lol-news-img p {
    position: relative;
    color: white;
    font-size: 13px;
    font-style: oblique;
    background: #04535b;
    border-radius: 0.4em 0.4em 0.4em 0;
    left: 743px;
    top: 33px;
    width: 150px;
    padding: 10px;
    opacity: 0.6;
}

#lol-news-img p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 6.5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #04535b;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

#lol-news-img span:nth-child(3) {
    font-size: 11px;
}

/****************************/
/*      섹션 D 끝          */
/****************************/
.main-sub {
    display: block;
}
