
.thumb-up:hover {
    color: #ff0000;
}

.thumb-down:hover {
    color: #ff0000;
}

.usercss>p:after {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #b9b9b9;
    height: 10px;
    content: "";
    margin: 0 8px;
}

.image > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/* ckeditor 포커스 상태에서 창 모양 깨지는거 임시방편*/
.ck-sticky-panel {
    width: 934px !important;
}
@media (max-width: 1200px) {
    .ck-sticky-panel {
        width: 748px !important;
    }
}
@media (max-width: 991px) {
    .ck-sticky-panel {
        width: 508px !important;
    }
}
@media (max-width: 767px) {
    .ck-sticky-panel {
        width: 328px !important;
    }
}



/* 룰렛 애니메이션 효과를 정의하는 CSS */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 룰렛 애니메이션 클래스 */
.spin-animation {
    animation: spin 3s linear infinite; /* 3초 동안 회전, 반복 */
}
