
.thumb-up:hover {
    color: #00bbab;
}

.thumb-donw:hover {
    color: #ff0000;
}

.usercss>p:after {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #b9b9b9;
    height: 10px;
    content: "";
    margin: 0 8px;
}

.image > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/*.ck.ck-editor__top.ck-reset_all {*/
/*    z-index: var(--ck-z-modal);*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*.ck.ck-sticky-panel__placeholder {*/
/*    display : none !important;*/
/*}*/

/*.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {*/
/*    position: unset;*/
/*}*/


/* ckeditor 포커스 상태에서 창 모양 깨지는거 임시방편*/
.ck-sticky-panel {
    width: 934px !important;
}