/* 애니메이션 적용 */
.animated-width {
    position: relative;
    width: 20%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    transition: width 1s;
}

#probuild:hover .animated-width {
    width: 100%;
}

/*    main 시작    */

#match-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.match-user-info {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}
/*    main 끝    */
