<!-- commentForm.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 작성</title>
</head>
<body>
<h1>댓글 작성</h1>
<form action="/comment" method="post" th:object="${comment}">
    <!-- 댓글 관련 필드 -->
    <label for="content">내용:</label>
    <input type="text" id="content" name="content" th:field="*{content}" required>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <input type="submit" value="댓글 작성">
</form>
</body>
</html>
