<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"> <!-- 파비콘 -->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/itemTier.css}"/>


    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>


    <title>Carry.kr</title> <!-- 타이틀 -->
</head>

<body>
<div id="wrap">
    <!-- 헤더영역 -->
    <header class="header-area header-transparrent fixed-top" id="header">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <!-- 로고 -->
                        <a class="text-decoration-none" href="/"><h1
                                class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1></a>
                    </div>
                    <!-- 메뉴 -->
                    <nav class="nav col-9 justify-content-center" id="mainNav">
                        <ul class="gnb align-items-center font-weight-bold">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="/simulation">시뮬레이터</a></li>
                            <li><a href="#">아이템순위</a></li>
                            <li><a href="#">프로빌드</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                    <div class="col d-flex align-items-center justify-content-center" id="searching">

                        <iconify-icon height="30" icon="ic:twotone-search"
                                      width="30"></iconify-icon>
                    </div>
                </div>
            </div>
            <!--서브 메뉴-->
            <div class="row" id="sub_nav" style="margin-top: 0.4rem; border-bottom: solid 1px #000000">
                <div class="col"></div>
                <div class="col nav justify-content-center" style="padding-left : 1rem; gap: 5rem; font-weight: 500">
                    <ul class="align-items-center">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">패치노트</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/simulation">시뮬레이터</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">아이템순위</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">프로빌드</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/post/list">자유게시판</a></li>
                        <li><a href="#">유머게시판</a></li>
                        <li><a href="#">아이템공유</a></li>
                        <li><a href="#">매드무비</a></li>
                        <li><a href="#">커뮤니티</a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
            <!-- 전체 검색창 띄우기 -->
            <div class="searchForm" th:id="searchForm">
                <form>
                    <table style="height: 180px;">
                        <tr>
                            <td></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </header>
    <!-- 헤더영역 E -->

    <div style="height: 100px;">
        <!--        메뉴영역 공백-->
    </div>

    <!-- 메인영역 -->
    <main class="container d-flex" id="main">
        <div class="" id="itemTierItemList" style="width: 360px;">
            <div class="card shadow">
                <div class="card-body">
                    <!-- 아이템 검색창 -->
                    <input autocomplete="on" class="form-control mx-auto mb-2 sticky" id="left-item-search" placeholder="아이템 검색..."
                           type="text">
                    <!-- 아이템 목록창 -->
                    <div class="row mx-auto" id="item-list">
                    </div>
                </div>
            </div>
        </div>
        <!-- 아이템 티어 리스트-->
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <!-- table -->
                    <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="dataTable-1_wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter" id="dataTable-1_filter"><label>Search:<input
                                        aria-controls="dataTable-1" class="form-control form-control-sm" placeholder=""
                                        type="search"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table aria-describedby="dataTable-1_info" class="table datatables dataTable no-footer" id="dataTable-1"
                                       role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th aria-controls="dataTable-1" aria-label="#: activate to sort column ascending" class="sorting" colspan="1"
                                            rowspan="1" style="width: 18.7969px;"
                                            tabindex="0">#
                                        </th>
                                        <th aria-controls="dataTable-1" aria-label="Name: activate to sort column ascending" class="sorting" colspan="1"
                                            rowspan="1" style="width: 142.766px;"
                                            tabindex="0">Name
                                        </th>
                                        <th aria-controls="dataTable-1" aria-label="Phone: activate to sort column ascending" class="sorting" colspan="1"
                                            rowspan="1" style="width: 110.312px;"
                                            tabindex="0">Phone
                                        </th>
                                        <th aria-controls="dataTable-1" aria-label="Department: activate to sort column ascending" class="sorting" colspan="1"
                                            rowspan="1" style="width: 188.094px;"
                                            tabindex="0">Department
                                        </th>
                                        <th aria-controls="dataTable-1" aria-label="Company: activate to sort column ascending" class="sorting" colspan="1"
                                            rowspan="1" style="width: 95.5625px;"
                                            tabindex="0">Company
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd" role="row">
                                        <td class="">403</td>
                                        <td class="">Rana Mcknight</td>
                                        <td class="">(243) 205-2734</td>
                                        <td class="">Accounting</td>
                                        <td class="">Finale</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!-- 푸터영역 -->
    <footer class="footer-style" id="footer">
        <div class="copyright">
            copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a> All
            rights reserved.
        </div>
        <div>
                <span>
                    이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
                </span>
            <span>
                    리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
                </span>
        </div>
    </footer>
    <!-- 푸터영역 E -->
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->

<!--<script th:src="@{/js/test.js}"></script> &lt;!&ndash; 모든 기능 이벤트 &ndash;&gt;-->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->
<script th:src="@{/js/itemTier.js}"></script> <!-- 아이템티어 이벤트 관련 -->

<script src="/ckeditor5/build/ckeditor.js"></script>
<script src="/js/ckeditorscript.js"></script>

<script>
    $(document).ready(function () {
        // 각 게시물의 "보러가기" 버튼 클릭 이벤트 처리
        $(".view-post-btn").click(function () {
            var postId = $(this).data("post-id"); // 해당 버튼에 저장된 게시물 ID 가져오기
            window.location.href = "/post/read/" + postId; // 해당 게시물로 이동
        });
    });
</script>


<!--<script>  // 스크롤을 위로 올리는 스티키바-->
<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky-bar");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky-bar");-->
<!--        }-->
<!--    });-->

<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky");-->
<!--        }-->
<!--    });-->
<!--</script>-->


<!--<script>  //스크롤 내리면 헤더영역 애니메이션-->
<!--    $(window).scroll(function () {-->
<!--        if ($(window).scrollTop() > 100) {-->
<!--            $("#header").addClass("animated");-->
<!--        } else {-->
<!--            $("#header").removeClass('animated');-->
<!--        }-->
<!--    });-->
<!--</script>-->


</body>

</html>