<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/itemSaveBtn.css}"/>
    <link rel="stylesheet" th:href="@{/css/lolMain.css}"/>

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" rel="stylesheet">

    <title>Carry.kr</title> <!-- 타이틀 -->
</head>
<body>

<!-- 최상단 네비바 -->
<nav class="site-header sticky-top py-1" style="background: #8360CE; ">
    <div class="container d-flex flex-column flex-md-row color-white">
        <a href="/" style="margin-right: 20px">
            <h1 class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/lol">
            <span class="btn-two blue mini" id="btnradio1">
                <img src="/img/lol_Icon.png" style="height: 20px"/>
                리그 오브 레전드
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/post/list">
            <span class="btn-two blue mini" id="btnradio2">
                <img src="/img/Gersang_Icon.png" style="height: 20px"/>
                거상
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio3">
                <img src="/img/MapleStory_Icon.png" style="height: 20px"/>
                메이플 스토리
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio4">
                <img src="/img/D&F_Icon.png" style="height: 20px"/>던전 앤 파이터
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio5">
                <img src="/img/Loa_Icon.png" style="height: 20px"/>로스트 아크
            </span>
        </a>

    </div>
</nav>
<!--롤 메뉴-->
<nav class="navbar navbar-expand-lg sticky-top py-1 navbar-light bg-light" style="height: 47px; font-size: 14px; font-weight: bolder">
    <div class="container">
        <a class="navbar-brand" href="#">리그 오브 레전드 >> </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">메인</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/itemTier">아이템티어</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/probuild">프로빌드</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/post/list">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--롤 메뉴 End-->
<div class="container" id="lolMain" style="margin-top: 10rem">
    <div class="wrap">
        <div id="sectionA">
            <img class="backgroundImg" src="/img/lolMainImg.jpg">
            <div class="new-search-body">
                <label class="search-engine" for="search-engine" style="display: flex;">
                    <input autocomplete="off" id="search-engine" placeholder="궁금한 걸 검색하세요! " type="text">
                </label>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center" id="lol-tier-img"
             style="height:500px; margin: 100px 0;">
            <div class="d-flex justify-content-center align-items-end">
                <section class="main-sub" id="sectionB">
                    <dl>
                        <dt class="sub-title">Tier</dt>
                    </dl>
                    <dl id="tier_thumbnail">
                        <dt class="sub-title" id="patch-version">14.4 ver</dt>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <!--TODO JS로 티어리스트 게시판 불러오기 5개만 미리보고 아래 티어리스트 게시판으로 이동하는 버튼 생성-->
                    </dl>
                    <button class="sub-body">Tier 가기</button>
                </section>
                <div class="relative">
                    <p class="lol-tier-img_p">
                        <span>패치에 따라 변화된 아이템들의 티어를 확인 해 보세요!</span>
                    </p>
                    <img src="/img/kindread.png">
                </div>
            </div>
        </div>
        <div class="col relative d-flex justify-content-center align-items-center" id="sectionC_Container"
             style="height:700px; overflow: hidden; box-shadow: 0 2px 15px 6px black;">
            <img class="backgroundImg" src="/img/Azir.jpg">

            <div class="d-flex justify-content-center align-items-center" style="position: absolute">
                <img src="/img/faker.jpg" style="height: 350px; margin-right: 25px">
                <section class="main-sub align-self-center" id="sectionC">
                    <dl>
                        <dt class="sub-title">Pro's build</dt>
                        <dd class="sub-body">프로들은 어떻게 앞서 나가고 있는지 확인 해 보세요!</dd>
                    </dl>
                    <dl id="pro_build_thumbnail">
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <!--TODO JS로 챌린저 빌드 게시판 불러오기 5개만 미리보기(한 게임 각 포지션 별로 왼vs오 마주보게) 아래 챌린저 빌드 게시판으로 이동하는 버튼 생성-->
                    </dl>
                    <button class="sub-body" style="color: black;">프로 빌드 가기</button>
                </section>
            </div>
        </div>
        <div class="col relative d-flex justify-content-center align-items-center" id="lol-news-img" style="height:700px;
        margin: 100px 0; overflow: hidden;">
            <div class="d-flex justify-content-center align-items-top" style="min-width: 633px !important;">
                <section class="main-sub" id="sectionD">
                    <dl>
                        <dt class="sub-title">News</dt>
                        <dd class="sub-body">지금 새로운 소식을 바로 확인 해 보세요!</dd>
                    </dl>
                    <dl>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <dd><p></p></dd>
                        <!--TODO JS로 티어리스트 게시판 불러오기 5개만 미리보고 아래 티어리스트 게시판으로 이동하는 버튼 생성-->
                    </dl>
                    <button class="sub-body">라이엇 뉴스</button>
                </section>
                <div class="relative" style="width: 200px; margin-left: 25px">
                    <p class="lol-news-img_p">
                        <span>난 누구보다 빠르게 <br/>
                        또 남들과는 다르게</span> <br/>
                        <span>- 뉴스특파원 아칼리</span>
                    </p>
                    <img id="akaliImage" src="/img/akali.png"/>
                </div>
            </div>
            <img id="bladimirImage" src="/img/bladimir.png">
        </div>
    </div>
</div>


<!-- 푸터영역 -->
<footer class="footer-style" id="footer">
    <div class="f1l1">
        <section class="f1r1b4">
            <div class="copyright">
                copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a>
                All rights reserved.
            </div>
            <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span><br>
                <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

            </div>
        </section>
    </div>
</footer>
<!-- 푸터영역 E -->


<script th:src="@{/js/main/lolMain.js}"></script> <!--롤 메인 페이지 -->
<script th:src="@{/js/lol_common.js}"></script> <!--롤 공통 -->



</body>
</html>