<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> &lt;!&ndash; 파비콘 &ndash;&gt;-->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/lolMain.css}"/>
    <link rel="stylesheet" th:href="@{/css/editor.css}"/>

    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
    <!--    <script src="/build/ckeditor.js"></script>-->
    <!-- 이미지 업로드 어댑터 -->
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">

    <title>Carry.kr</title> <!-- 타이틀 -->
</head>

<body data-editor="ClassicEditor" data-collaboration="false" data-revision-history="false">
<!-- 최상단 네비바 -->
<nav class="site-header sticky-top py-1" style="background: #8360CE; ">
    <div class="container d-flex flex-column flex-md-row color-white">
        <a href="/" style="margin-right: 20px">
            <h1 class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/lol">
            <span class="btn-two blue mini" id="btnradio1">
                <img src="/img/lol_Icon.png" style="height: 20px"/>
                리그 오브 레전드
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/post/list/default">
            <span class="btn-two blue mini" id="btnradio2">
                <img src="/img/Gersang_icon.png" style="height: 20px"/>
                거상
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio3">
                <img src="/img/Maplestory_Icon.png" style="height: 20px"/>
                메이플 스토리
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio4">
                <img src="/img/D&F_Icon.png" style="height: 20px"/>던전 앤 파이터
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio5">
                <img src="/img/Loa_Icon.png" style="height: 20px"/>로스트 아크
            </span>
        </a>

    </div>
</nav>
<!--롤 메뉴-->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style="padding: 9px 0; font-size: 14px;
font-weight: bolder">
    <div class="container" style="padding: 0 15px;">
        <a class="navbar-brand" href="#">리그 오브 레전드 >> </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/simulation">시뮬레이터</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/itemTier">아이템티어</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/probuild">프로빌드</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/post/list/default">커뮤니티</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--롤 메뉴 End-->
<div id="wrap" style="margin: 50px 0">
    <!-- 메인영역 -->
    <main id="postMain" class="container">
        <div class="row col-12">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <strong class="card-title">투표게시판</strong>
                    </div>
                    <form th:object="${post}" th:action="@{'/post/updatePost/'+ ${post.id} + '/' + ${post.type}}"
                          method="post" id="pollUpdateForm">
                        <div class="card-body" style="padding: 40px">
                            <!-- 글 작성자 닉네임, 비번, 제목 입력창 -->
                            <div class="row flex-column" style="padding: 0 20px">
                                <div class="col-md-6 d-flex">
                                    <div class="form-group mb-3 d-flex" style="gap: 10px">
                                        <label for="nickname">닉네임</label>
                                        <!-- 닉네임 표시 -->
                                        <input th:field="*{nickname}" th:value="${post.nickname}" type="text" id="nickname" name="nickname"
                                               class="form-control col-6" style="font-size: 1.5rem" readonly>
                                    </div>
                                    <div class="form-group mb-3 d-flex" style="gap: 10px">
                                        <label for="newPassword">비밀번호</label>
                                        <input type="password" th:field="*{password}" th:value="${post.password}" id="newPassword"
                                               name="newPassword"
                                               class="form-control col-6"
                                               style="font-size: 1.5rem">
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col d-flex">
                                    <div class="form-group d-flex" style="gap: 10px; width: 100%">
                                        <label for="newTitle">제　목</label>
                                        <input th:field="*{title}" th:value="${post.title}" type="text" id="newTitle"
                                               name="newTitle"
                                               class="form-control col-8" style="font-size: 1.5rem" required>
                                    </div>
                                </div>
                            </div>
                            <!-- 글 작성 에디터 영역 -->
                            <div class="row">
                                <div class="centered">
                                    <div class="row row-editor">
                                        <div class="col editor-container">
                                            <textarea class="editor" th:field="*{content}" th:utext="${post.content}"
                                                      id="editor"
                                                      name="newContent"
                                                      style="min-height:500px;"></textarea>
                                            <!--에디터 설정-->
                                            <!--                                            <script>-->
                                            <!--                                                let myEditor;-->

                                            <!--                                                ClassicEditor-->
                                            <!--                                                    .create(document.querySelector('#editor'), {-->
                                            <!--                                                        ckfinder: {-->
                                            <!--                                                            uploadUrl : '/post/upload'-->
                                            <!--                                                        }-->
                                            <!--                                                    })-->
                                            <!--                                                    .then(editor => {-->
                                            <!--                                                        myEditor = editor;-->
                                            <!--                                                        console.log('Editor was initialized');-->
                                            <!--                                                    })-->
                                            <!--                                                    .catch(error => {-->
                                            <!--                                                        console.error(error);-->
                                            <!--                                                    });-->
                                            <!--                                            </script>-->
                                            <script>
                                                let myEditor;

                                                // 업로드 중 여부를 나타내는 변수
                                                let uploading = false;

                                                ClassicEditor
                                                    .create(document.querySelector('#editor'), {
                                                        ckfinder: {
                                                            uploadUrl: '/post/upload'
                                                        }
                                                    })
                                                    .then(editor => {
                                                        myEditor = editor;
                                                        console.log('Editor was initialized');

                                                        // 파일 업로드 후 처리
                                                        myEditor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                                                            return {
                                                                upload: () => {
                                                                    // 업로드 중 플래그 설정
                                                                    uploading = true;

                                                                    // 로딩 창 표시
                                                                    showLoading();

                                                                    return loader.file
                                                                        .then(file => {
                                                                            return new Promise((resolve, reject) => {
                                                                                var formData = new FormData();
                                                                                formData.append('upload', file);

                                                                                var xhr = new XMLHttpRequest();
                                                                                xhr.open('POST', '/post/upload', true);
                                                                                xhr.onload = function() {
                                                                                    // 업로드 완료 후 플래그 해제
                                                                                    uploading = false;

                                                                                    if (xhr.status === 200) {
                                                                                        var response = JSON.parse(xhr.responseText);
                                                                                        if (response.uploaded) {
                                                                                            // 업로드가 성공하면 버튼을 변경
                                                                                            document.getElementById('submitBtn').type = 'submit';
                                                                                            document.getElementById('submitBtn').textContent = '글쓰기';
                                                                                        } else {
                                                                                            alert(response.error);
                                                                                        }
                                                                                        resolve({ default: response.url });
                                                                                    } else {
                                                                                        reject('Upload failed. Status: ' + xhr.status);
                                                                                    }
                                                                                };
                                                                                xhr.send(formData);
                                                                            });
                                                                        })
                                                                        .finally(() => {
                                                                            // 로딩 창 숨기기
                                                                            hideLoading();
                                                                        });
                                                                }
                                                            };
                                                        };
                                                    })
                                                    .catch(error => {
                                                        console.error(error);
                                                    });

                                                function showLoading() {
                                                    // 모달 창을 표시
                                                    $('#loadingModal').modal('show');
                                                }

                                                function hideLoading() {
                                                    // 모달 창을 숨김
                                                    $('#loadingModal').modal('hide');
                                                }
                                            </script>
                                            <!-- 모달 창 -->
                                            <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel"
                                                 aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                            <div class="spinner-border text-primary" role="status">
                                                                <span class="sr-only">Loading...</span>
                                                            </div>
                                                            <p>이미지 업로드 중입니다...<br>잠시만 기다려주세요</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 글 등록, 취소 버튼 -->
                            <div>
                                <div class="row" style="padding: 0 20px">
                                    <div class="col d-flex">
                                        <button type="submit" id="submitBtn" class="btn btn-success col" style="font-size: medium"
                                                value="Modify">
                                            글수정</button>
                                        <button type="button" class="btn btn-secondary col" style="font-size: medium;"
                                                onclick="history.back();">취　소
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:value="${post.id}" id="postId" name="postId">
                        <input type="hidden" th:value="${post.type}" id="postType" name="postType">
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- 메인영역 E -->


<!-- 푸터영역 -->
<footer class="footer-style" id="footer">
    <div class="f1l1">
        <section class="f1r1b4">
            <div class="copyright">
                copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a>
                All rights reserved.
            </div>
            <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span><br>
                <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

            </div>
        </section>
    </div>
</footer>
<!-- 푸터영역 E -->



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->
<script th:src="@{/js/test.js}"></script> <!-- 모든 기능 이벤트 -->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->


<!--ckeditor 부분-->
<!--ckeditor 부분 종료 -->


<!--<script>  // 스크롤을 위로 올리는 스티키바-->
<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky-bar");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky-bar");-->
<!--        }-->
<!--    });-->

<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky");-->
<!--        }-->
<!--    });-->
<!--</script>-->


<!--<script>  //스크롤 내리면 헤더영역 애니메이션-->
<!--    $(window).scroll(function () {-->
<!--        if ($(window).scrollTop() > 100) {-->
<!--            $("#header").addClass("animated");-->
<!--        } else {-->
<!--            $("#header").removeClass('animated');-->
<!--        }-->
<!--    });-->
<!--</script>-->


<script>
    document.getElementById('pollUpdateForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 기본 동작 중지
        var formData = new FormData(this); // 폼 데이터 가져오기
        var jsonObject = {}; // 폼 데이터를 JSON 객체로 변환하기 위한 빈 객체 생성

        // FormData를 JSON 객체로 변환
        formData.forEach(function(value, key) {
            jsonObject[key] = value;
        });

        // 비밀번호가 null이거나 빈 문자열인 경우에 경고 메시지 표시
        if (!jsonObject['password']) {
            swal.fire('비밀번호를 입력해주세요.');
            return; // 함수 종료
        }

        // JSON 데이터를 문자열로 변환하여 서버에 전송
        fetch(this.getAttribute('action'), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonObject)
        }).then(function(response) {
            if (response.ok) {
                // 성공적으로 업데이트되었음을 사용자에게 알림
                swal.fire('게시글이 성공적으로 업데이트되었습니다.').then(function() {
                    // 게시글의 읽기 페이지로 리디렉션
                    var postId = document.getElementById('postId').value; // hidden input에서 postId 가져오기
                    var postType = document.getElementById('postType').value; // hidden input에서 postId 가져오기
                    window.location.href = '/post/read/' + postType + '/' + postId; // 해당 게시글의 읽기 페이지로 리디렉션

                });
            } else {
                // 오류 처리
                swal.fire('게시글 업데이트에 실패했습니다.');
            }
        }).catch(function(error) {
            // 오류 처리
            console.error('게시글 업데이트 중 오류 발생:', error);
            swal.fire('게시글 업데이트 중 오류가 발생했습니다.');
        });
    });
</script>


</body>

</html>