<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> &lt;!&ndash; 파비콘 &ndash;&gt;-->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/lolMain.css}"/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">

    <title>Carry.kr</title> <!-- 타이틀 -->
</head>
<body>
<!-- 최상단 네비바 -->
<nav class="site-header sticky-top py-1" style="background: #8360CE; ">
    <div class="container d-flex flex-column flex-md-row color-white">
        <a href="/" style="margin-right: 20px">
            <h1 class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/lol">
            <span class="btn-two blue mini" id="btnradio1">
                <img src="/img/lol_Icon.png" style="height: 20px"/>
                리그 오브 레전드
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/post/list">
            <span class="btn-two blue mini" id="btnradio2">
                <img src="/img/Gersang_icon.png" style="height: 20px"/>
                거상
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio3">
                <img src="/img/Maplestory_Icon.png" style="height: 20px"/>
                메이플 스토리
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio4">
                <img src="/img/D&F_Icon.png" style="height: 20px"/>던전 앤 파이터
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio5">
                <img src="/img/Loa_Icon.png" style="height: 20px"/>로스트 아크
            </span>
        </a>
    </div>
</nav>
<!--롤 메뉴-->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style="padding: 9px 0; font-size: 14px;
font-weight: bolder">
    <div class="container" style="padding: 0 15px;">
        <a class="navbar-brand" href="#">리그 오브 레전드 >> </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/simulation">시뮬레이터</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/itemTier">아이템티어</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/probuild">프로빌드</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/post/list">커뮤니티</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--롤 메뉴 End-->
<div id="wrap" style="margin: 50px 0">

    <!-- 메인영역 -->
    <main id="main" class="container">
        <div class="row col-12">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <div id="loading" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999;">
                            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                                <h2>Loading...</h2>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <ul class="list-group list-group-horizontal d-none d-lg-flex"  style="font-size: 1.3rem">
                                <li class="list-group-item list-group-item-action">전체게시판</li>
                                <li class="list-group-item list-group-item-action">자유게시판</li>
                                <li class="list-group-item list-group-item-action">시뮬공유</li>
                                <li class="list-group-item list-group-item-action">매드무비</li>
                                <li class="list-group-item list-group-item-action">룰렛게시판</li>
                                <li class="list-group-item list-group-item-action">투표게시판</li>
                            </ul>

                            <div class="dropdown d-lg-none">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="font-size: 1.3rem">
                                    자유게시판
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:
                                1.5rem; max-height: 300px; overflow-y: auto;">
                                    <a class="dropdown-item" href="#">시뮬공유</a>
                                    <a class="dropdown-item" href="#">매드무비</a>
                                    <a class="dropdown-item" href="#">룰렛게시판</a>
                                    <a class="dropdown-item" href="#">투표게시판</a>
                                </div>
                            </div>



                            <div class="setType" th:value="${option}"></div>
                            <div class="setKeyword" th:value="${keyword}"></div>



                            <div style="display: flex; align-items: flex-end;">
                                <span style="margin-right: 5px;">정렬 :</span>
                                <!-- 정렬 목록 -->
                                <div class="dropdown">
                                    <select class="form-control" id="sortOption" style="font-size: 14px;width: 120px;" onchange="sortPostListByItem()">
                                        <option value="id" th:selected="${sort eq 'id'}">글번호</option>
                                        <option value="date" th:selected="${sort eq 'date'}">작성일</option>
                                        <option value="title" th:selected="${sort eq 'title'}">글제목</option>
                                        <option value="replyCount" th:selected="${sort eq 'replyCount'}">댓글수</option>
                                        <option value="nickname" th:selected="${sort eq 'nickname'}">작성자</option>
                                        <option value="viewCount" th:selected="${sort eq 'viewCount'}">조회수</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-5">
                        <!-- table -->
                        <table class="table table-borderless table-hover" th:if="${have != false and not #lists.isEmpty(have)}">
                            <!-- 게시판 헤더 -->
                            <thead>
                            <td colspan="5" class="searchResult">
                                <span>검색타입 : </span>
                                <span class="searchType" th:value="${option}" th:text="${option == 'title' ? '제목' : (option == 'content' ? '내용' : (option == 'titleContent' ? '제목 + 내용' : '작성자'))}"></span>,
                                <span>검색어 : </span>
                                <span class="searchKeyword" th:value="${keyword}" th:text="${keyword}"></span>로 검색한 결과입니다.
                            </td>

                            <td>
                                <a th:href="@{/post/list}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        초기화
                                    </button>
                                </a>
                            </td>
                            <tr>
                                <th class="col-1">글번호</th>
                                <th class="col-6">글제목</th>
                                <th class="col-2">작성자(IP)</th>
                                <th class="col">작성일</th>
                                <th class="col-2">조회수</th>
                            </tr>
                            </thead>
                            <!-- 게시판 바디 -->
                            <tbody>
                            <tr th:each="post, loop : ${searchPaging}"> <!-- 게시물이 반복되어 리스트로 표시 -->
                                <td style="font-size: 14px; color: #777777">
                                    <p class="mb-0 text-muted" th:text="${searchPaging.getTotalElements - (searchPaging.number * searchPaging.size) - loop.index}"><!--게시물id--></p>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a th:href="@{'/post/readSearch/' + ${post.id} + '?option=' + ${option} + '&keyword=' + ${keyword}+ '&page=' + ${searchPaging.number}}">
                                            <p class="mb-0 text-muted view-post-btn" th:text="${post.title}"
                                               th:data-post-id="${post.id}" style="font-size: 14px;"><!--게시물 제목-->
                                            </p>
                                            <br>
                                            <p class="mb-0 text-muted postContent" th:value="${post.content}"
                                               th:data-post-id="${post.id}" style="font-size: 14px; display: none"></p>
                                        </a>

                                        <!-- isImageIncluded가 true인 경우 이미지 아이콘을 표시 -->
                                        <div th:if="${post.isImageIncluded}">
                                            <img src="/img/img_icon.png" alt="이미지 아이콘">
                                        </div>

                                        <div th:if="${post.commentCount > 0}">
                                            <span style="font-size: 12px;margin-bottom: 0px;margin-top: 1px;" th:text="'[' + ${post.commentCount} + ']' "></span>
                                        </div>
                                    </div>
                                </td>
                                <td style="font-size: 14px; color: #777777">
                                    <div class="ds_flex" >
                                        <p class="mb-0 text-muted postNickname" th:text="${post.nickname}"></p>
                                        (<p class="mb-0 text-muted"
                                            th:text="${#strings.substring(post.ipAddress, 0, 6)} + '.x.x'"></p>)
                                    </div>
                                </td>
                                <td class="text-muted" style="font-size: 14px; color: #777777">
                                    <p th:if="${post.createtime != null}"
                                       th:text="${#temporals.format(post.createtime, 'yyyy-MM-dd HH:mm:ss')}"><!-- 생성일 표시 --></p>
                                    <p th:unless="${post.createtime != null}"> <!-- 생성일이 null일 때 빈칸 표시 -->
                                        <!-- 빈칸 -->
                                    </p>
                                </td>
                                <td>
                                    <p th:text="${post.views}"></p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table  class="table table-borderless table-hover" th:if="${have == false or #lists.isEmpty(have)}">
                            <thead>
                            <!-- 검색어 출력 -->
                            <td colspan="5" class="searchResult">
                                <span>검색타입 : </span>
                                <span class="searchType" th:value="${option}" th:text="${option == 'title' ? '제목' : (option == 'content' ? '내용' : (option == 'titleContent' ? '제목 + 내용' : '작성자'))}"></span>,
                                <span>검색어 : </span>
                                <span class="searchKeyword" th:value="${keyword}" th:text="${keyword}"></span>로 검색한 결과가 없습니다.
                            </td>


                            <!-- 초기화 버튼 -->
                            <td>
                                <a th:href="@{/post/list}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        초기화
                                    </button>
                                </a>
                            </td>
                            <tr>
                                <th class="col-1">글번호</th>
                                <th class="col-6">글제목</th>
                                <th class="col-2">작성자(IP)</th>
                                <th class="col">작성일</th>
                                <th class="col-2">조회수</th>
                            </tr>
                            </thead>
                        </table>
                        <!-- 글쓰기 버튼 -->
                        <div>
                            <a th:href="@{/post/create}">
                                <button type="button" class="btn btn-success" style="width: 100%; font-size:
                                medium">글쓰기</button>
                            </a>
                        </div>

                        <div style="margin-top: 10px">
                            <nav th:if="${!searchPaging.isEmpty()}" aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li th:classappend="${!searchPaging.hasPrevious()} ? 'disabled'" class="page-item">
                                        <a th:href="@{|/post/list/search?option=${option}&keyword=${keyword}&page=${searchPaging.number-1}|}" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(0, searchPaging.totalPages-1)}"
                                        th:if="${page >= searchPaging.number-5 and page <= searchPaging.number+5}"
                                        th:classappend="${page == searchPaging.number} ? 'active'" class="page-item">
                                        <a th:text="${page+1}" th:href="@{|/post/list/search?option=${option}&keyword=${keyword}&page=${page}|}" class="page-link"></a>
                                    </li>
                                    <li th:classappend="${!searchPaging.hasNext} ? 'disabled'" class="page-item">
                                        <a th:href="@{|/post/list/search?option=${option}&keyword=${keyword}&page=${searchPaging.number+1}|}" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- 게시판 검색 -->
                        <div id="search" class="" style="margin-top: 10px;">
                            <form class="form">
                                <div class="form-row justify-content-center">
                                    <!-- 검색 목록 -->
                                    <div class="dropdown">
                                        <select class="form-control" id="searchOption" style="font-size:
                                         14px">
                                            <option value="title">제목</option>
                                            <option value="content">내용</option>
                                            <option value="titleContent">제목+내용</option>
                                            <option value="nickname">작성자</option>
                                        </select>
                                    </div>
                                    <!-- 검색어 입력창 -->
                                    <div class="form-group col-auto">
                                        <!--                                        <input type="text" class="form-control" id="freeSearch" value=""-->
                                        <!--                                               placeholder="Search" style="font-size: 14px">-->
                                        <input type="text" class="form-control" id="freeSearch" value=""
                                               placeholder="Search" style="font-size: 14px" onkeypress="handleKeyPress(event)">
                                    </div>

                                    <div>
                                        <!--                                        <button type="button" style="width: 3rem; height: 3rem" onclick="searchPost()">-->
                                        <!--                                            <iconify-icon icon="pepicons-pencil:enter" width="3rem" height="3rem"-->
                                        <!--                                                          style="color: #545454"></iconify-icon>-->
                                        <!--                                        </button>-->

                                        <button type="button" style="width: 3rem; height: 3rem" onclick="handleButtonClick()">
                                            <iconify-icon icon="pepicons-pencil:enter" width="3rem" height="3rem"
                                                          style="color: #545454"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 메인영역 E -->
</div>



    <!-- 푸터영역 -->
    <footer id="footer" class="footer-style">
        <div class="copyright">
            copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a> All rights reserved.
        </div>
        <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span>
            <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

        </div>


    </footer>
    <!-- 푸터영역 E -->
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->

<script th:src="@{/js/test.js}"></script> <!-- 모든 기능 이벤트 -->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->

<script src="/ckeditor5/build/ckeditor.js"></script>
<script src="/js/ckeditorscript.js"></script>




<script>
    // 페이지 로딩 시작 시에 로딩 창을 표시합니다.
    document.getElementById('loading').style.display = 'block';
    window.onload = function() {
        // URL의 쿼리 파라미터에서 페이지 번호를 가져옵니다.
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page');
        const option = urlParams.get('option');
        const keyword = urlParams.get('keyword');
        var selectedValue = $("#sortOption").val();

        // 페이지 번호가 없으면 기본값인 0으로 설정합니다.
        const pageNumber = page ? page : 0;

        // 현재 URL에서 페이지 번호를 제거합니다.
        const baseUrl = window.location.href.split('?')[0];

        // 새로운 URL을 생성하여 페이지 번호를 추가합니다.
        const newUrl = `${baseUrl}?option=${option}&keyword=${keyword}&page=${pageNumber}&sort=${selectedValue}`;

        // 브라우저의 URL을 새로운 URL로 변경합니다.
        history.pushState({}, '', newUrl);
        hideLoading();
    }
    // 로딩 창을 숨기는 함수
    function hideLoading() {
        console.log("hide");
        document.getElementById('loading').style.display = 'none';
    }

    $(document).ready(function () {
        // 서버에서 검색 타입과 키워드를 가져와서 강조 함수 호출
        var highlightType = $(".searchType").attr("value");
        var highlightKeyword = $(".searchKeyword").attr("value");

        console.log(highlightType)
        console.log(highlightKeyword)

        // 검색어 강조 함수 호출
        highlightSearchText(highlightType, highlightKeyword);
    });

    // 정렬 기준 함수
    function sortPostListByItem() {
        var selectedValue = $("#sortOption").val();
        var option = $(".setType").attr("value");
        var keyword = $(".setKeyword").attr("value");

        // var url = "/post/list?sort=" + selectedValue;
        // var selectedValue = $("#sortOption").val();
        // 필요한 데이터를 수집하고 이를 URL에 추가합니다.
        // URLSearchParams 객체를 생성하고 쿼리 매개변수를 추가합니다.
        var params = new URLSearchParams();
        params.append('option', option);
        params.append('keyword', keyword);
        params.append('sort', selectedValue)

        // URLSearchParams 객체를 사용하여 URL에 쿼리 매개변수를 추가합니다.
        var url = "/post/list/search?" + params.toString();
        // 수집한 데이터를 포함하여 해당 URL로 리디렉션합니다.
        // window.location.href = url;
        window.location.href = url;
    }

    // 검색어 색칠 함수
    function highlightSearchText(option, keyword) {
        // 검색 키워드를 대소문자 구분 없이 검색하기 위해 정규 표현식을 사용합니다.
        var regex = new RegExp(keyword, "gi");

        if(option === "title"){
            // 각 요소를 반복하면서 검색어가 포함된 부분을 찾아 색칠합니다.
            $(".view-post-btn").each(function () {
                var text = $(this).text(); // 요소의 텍스트 내용 가져오기
                var highlightedText = text.replace(regex, '<span style="background-color: yellow;">$&</span>'); // 검색어 색칠

                // 색칠된 텍스트로 요소의 내용을 업데이트합니다.
                $(this).html(highlightedText);
            });
        }
        else if(option === "nickname"){
            $(".postNickname").each(function () {
                var text = $(this).text(); // 요소의 텍스트 내용 가져오기
                var highlightedText = text.replace(regex, '<span style="background-color: yellow;">$&</span>'); // 검색어 색칠

                // 색칠된 텍스트로 요소의 내용을 업데이트합니다.
                $(this).html(highlightedText);
            });
        }
        else if (option === "titleContent") {
            $(".view-post-btn").each(function () {
                var text = $(this).text(); // 요소의 텍스트 내용 가져오기
                var highlightedText = text.replace(regex, '<span style="background-color: yellow;">$&</span>'); // 검색어 색칠

                // 색칠된 텍스트로 요소의 내용을 업데이트합니다.
                $(this).html(highlightedText);
                var postContent = $(this).siblings(".postContent").attr("value") // postContent 변수에 value 저장

                // 키워드의 인덱스 찾기
                var keywordIndex = postContent.indexOf(keyword);

                if (keywordIndex !== -1) { // 키워드가 포함된 경우에만 처리
                    // 키워드 앞의 3글자와 뒤의 3글자 추출
                    var startIndex = Math.max(0, keywordIndex - 3);
                    var endIndex = Math.min(keywordIndex + keyword.length + 3, postContent.length);
                    var visibleText = postContent.substring(startIndex, endIndex);

                    // 키워드를 색칠하여 보이도록 설정
                    var result = visibleText.replace(keyword, '<span style="background-color: yellow;">' + keyword + '</span>');

                    // 새로운 노드를 생성하여 업데이트
                    var newNode = document.createElement('span');
                    newNode.innerHTML = result;
                    $(this).siblings(".postContent").html(newNode); // postContent에 새로운 노드 추가
                    $(this).siblings(".postContent").css("display", "block");
                }
            });

        }else if (option === "content") {
            $(".view-post-btn").each(function () {
                var postContent = $(this).siblings(".postContent").attr("value") // postContent 변수에 value 저장

                // 키워드의 인덱스 찾기
                var keywordIndex = postContent.indexOf(keyword);

                if (keywordIndex !== -1) { // 키워드가 포함된 경우에만 처리
                    // 키워드 앞의 3글자와 뒤의 3글자 추출
                    var startIndex = Math.max(0, keywordIndex - 3);
                    var endIndex = Math.min(keywordIndex + keyword.length + 3, postContent.length);
                    var visibleText = postContent.substring(startIndex, endIndex);

                    // 키워드를 색칠하여 보이도록 설정
                    var result = visibleText.replace(keyword, '<span style="background-color: yellow;">' + keyword + '</span>');

                    // 새로운 노드를 생성하여 업데이트
                    var newNode = document.createElement('span');
                    newNode.innerHTML = result;
                    $(this).siblings(".postContent").html(newNode); // postContent에 새로운 노드 추가
                    $(this).siblings(".postContent").css("display", "block");
                }
            });

        }







    }

    function highlightText(text, keyword) {
        // 키워드를 대소문자 구분 없이 검색하기 위해 정규 표현식을 사용합니다.
        var regex = new RegExp(keyword, "gi");
        return text.replace(regex, '<span style="background-color: yellow;">$&</span>');
    }

</script>


<script>
    function handleKeyPress(event) {
        if (event.keyCode === 13) {
            event.preventDefault(); // 엔터 키의 기본 동작 방지 (폼 제출 방지)
            searchPost(); // searchPost() 함수 호출
        }
    }

    // 버튼 클릭 이벤트 처리
    function handleButtonClick() {
        searchPost(); // searchPost() 함수 호출
    }

    function searchPost() {
        var option = $("#searchOption").val();
        var keyword = $("#freeSearch").val();
        var selectedValue = $("#sortOption").val();
        // 필요한 데이터를 수집하고 이를 URL에 추가합니다.
        // URLSearchParams 객체를 생성하고 쿼리 매개변수를 추가합니다.
        var params = new URLSearchParams();
        params.append('option', option);
        params.append('keyword', keyword);
        params.append('sort', selectedValue)

        // URLSearchParams 객체를 사용하여 URL에 쿼리 매개변수를 추가합니다.
        var url = "/post/list/search?" + params.toString();
        // 수집한 데이터를 포함하여 해당 URL로 리디렉션합니다.
        window.location.href = url;
    }

    function clearSearch() {
        $("#freeSearch").val(""); // 검색어 필드를 비웁니다.
        searchPost(); // 검색을 초기화하고 전체 목록을 보여줍니다.
    }
</script>


</body>

</html>