<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> <!-- 파비콘 -->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" th:href="@{/css/editor.css}"/>
    <link href="../static/ckeditor5/sample/configuration-dialog/configuration-dialog.js" rel="stylesheet" type="text/css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>



    <title>Carry.kr</title> <!-- 타이틀 -->
</head>

<body data-editor="ClassicEditor" data-collaboration="false" data-revision-history="false">
<div id="wrap">
    <!-- 헤더영역 -->
    <header id="header" class="header-area header-transparrent fixed-top">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <!-- 로고 -->
                        <a href="/" class="text-decoration-none"><h1
                                class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1></a>
                    </div>
                    <!-- 메뉴 -->
                    <nav id="mainNav" class="nav col-9 justify-content-center">
                        <ul class="gnb align-items-center font-weight-bold">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="/simulation">시뮬레이터</a></li>
                            <li><a href="#">아이템순위</a></li>
                            <li><a href="#">프로빌드</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                    <div id="searching" class="col d-flex align-items-center justify-content-center">

                        <iconify-icon icon="ic:twotone-search" width="30"
                                      height="30"></iconify-icon>
                    </div>
                </div>
            </div>
            <!--서브 메뉴-->
            <div id="sub_nav" class="row" style="margin-top: 0.4rem; border-bottom: solid 1px #000000">
                <div class="col"></div>
                <div class="col nav justify-content-center" style="padding-left : 1rem; gap: 5rem; font-weight: 500">
                    <ul class="align-items-center">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">패치노트</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/simulation">시뮬레이터</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">아이템순위</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">프로빌드</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/post/list">자유게시판</a></li>
                        <li><a href="#">유머게시판</a></li>
                        <li><a href="#">아이템공유</a></li>
                        <li><a href="#">매드무비</a></li>
                        <li><a href="#">커뮤니티</a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
            <!-- 전체 검색창 띄우기 -->
            <div th:id="searchForm" class="searchForm">
                <form>
                    <table style="height: 180px;">
                        <tr>
                            <td></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </header>
    <!-- 헤더영역 E -->

    <div style="height: 100px">
        <!--        메뉴영역 공백-->
    </div>

    <!-- 메인영역 -->
    <main id="main" class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <strong class="card-title">자유게시판</strong>
                    </div>
                    <form th:object="${post}" th:action="@{/post/submitForm}" method="post">
                        <div class="card-body" style="padding: 40px">
                            <!-- 글 작성자 닉네임, 비번, 제목 입력창 -->
                            <div class="row flex-column" style="padding: 0 20px">
                                <div class="col-md-6 d-flex">
                                    <div class="form-group mb-3 d-flex" style="gap: 10px">
                                        <label for="simpleinput">닉네임</label>
                                        <input type="text" id="simpleinput" class="form-control col-6" style="font-size:
                                    1.5rem" th:field="*{nickname}">
                                    </div>
                                    <div class="form-group mb-3 d-flex" style="gap: 10px">
                                        <label for="password">비밀번호</label>
                                        <input type="password" id="password" class="form-control col-6" value="" style="font-size:
                                    1.5rem" th:field="*{password}">
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col d-flex">
                                    <div class="form-group d-flex" style="gap: 10px; width: 100%">
                                        <label for="title">제　목</label>
                                        <input type="text" id="title" class="form-control col-8" style="font-size:
                                    1.5rem" th:field="*{title}">
                                    </div>
                                </div>
                            </div>
                            <!-- 글 작성 에디터 영역 -->
                            <div class="row">
                                <div class="centered">
                                    <div class="row row-editor">
                                        <div class="col editor-container">
                                            <textarea class="editor" th:field="*{content}"
                                                      style="max-height: 500px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col ds_flex">
                                        <button type="submit" class="btn btn-success col"
                                                style="font-size: medium">글등록</button>
                                        <button type="button" class="btn btn-secondary col" style="font-size:
                                    medium;
                                    right: 15px"
                                                onclick="history.back();">취　소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


    <!-- 푸터영역 -->
    <footer id="footer" class="footer-style">
        <div class="copyright">
            copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a> All rights reserved.
        </div>
        <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span>
            <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

        </div>


    </footer>
    <!-- 푸터영역 E -->
</div>


<!-- 메인영역 E -->


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->
<script th:src="@{/js/test.js}"></script> <!-- 모든 기능 이벤트 -->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->

<script src="/ckeditor5/build/ckeditor.js"></script>
<script src="/js/ckeditorscript.js"></script>


<!--<script>  // 스크롤을 위로 올리는 스티키바-->
<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky-bar");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky-bar");-->
<!--        }-->
<!--    });-->

<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky");-->
<!--        }-->
<!--    });-->
<!--</script>-->


<!--<script>  //스크롤 내리면 헤더영역 애니메이션-->
<!--    $(window).scroll(function () {-->
<!--        if ($(window).scrollTop() > 100) {-->
<!--            $("#header").addClass("animated");-->
<!--        } else {-->
<!--            $("#header").removeClass('animated');-->
<!--        }-->
<!--    });-->
<!--</script>-->


</body>

</html>