<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> <!-- 파비콘 -->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>



    <title>Carry.kr</title> <!-- 타이틀 -->
</head>

<body>
<div id="wrap">
    <!-- 헤더영역 -->
    <header id="header" class="header-area header-transparrent fixed-top">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <!-- 로고 -->
                        <a href="/" class="text-decoration-none"><h1
                                class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1></a>
                    </div>
                    <!-- 메뉴 -->
                    <nav id="mainNav" class="nav col-9 justify-content-center">
                        <ul class="gnb align-items-center font-weight-bold">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="/simulation">시뮬레이터</a></li>
                            <li><a href="#">아이템순위</a></li>
                            <li><a href="#">프로빌드</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                    <div id="searching" class="col d-flex align-items-center justify-content-center">

                        <iconify-icon icon="ic:twotone-search" width="30"
                                      height="30"></iconify-icon>
                    </div>
                </div>
            </div>
            <!--서브 메뉴-->
            <div id="sub_nav" class="row" style="margin-top: 0.4rem; border-bottom: solid 1px #000000">
                <div class="col"></div>
                <div class="col nav justify-content-center" style="padding-left : 1rem; gap: 5rem; font-weight: 500">
                    <ul class="align-items-center">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">패치노트</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/simulation">시뮬레이터</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">아이템순위</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="#">프로빌드</a></li>
                    </ul>
                    <ul class="align-items-center">
                        <li><a href="/post/list">자유게시판</a></li>
                        <li><a href="#">유머게시판</a></li>
                        <li><a href="#">아이템공유</a></li>
                        <li><a href="#">매드무비</a></li>
                        <li><a href="#">커뮤니티</a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
            <!-- 전체 검색창 띄우기 -->
            <div th:id="searchForm" class="searchForm">
                <form>
                    <table style="height: 180px;">
                        <tr>
                            <td></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </header>
    <!-- 헤더영역 E -->

    <div style="height: 100px">
        <!--        메뉴영역 공백-->
    </div>

    <!-- 메인영역 -->
    <main id="main" class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        자유게시판
                    </div>
                    <div class="card-body p-5">
                        <!-- table -->
                        <table class="table table-borderless table-hover">
                            <!-- 게시판 헤더 -->
                            <thead>
                            <tr>
                                <th class="col-1">글번호</th>
                                <th class="col-6">글제목</th>
                                <th class="col-3">작성자(IP)</th>
                                <th class="col-5">작성일</th>
                            </tr>
                            </thead>
                            <!-- 게시판 바디 -->
                            <tbody>
                            <tr th:each="post, loop : ${paging}"> <!-- 게시물이 반복되어 리스트로 표시 -->
                                <td style="font-size: 14px; color: #777777">
                                    <p class="mb-0 text-muted" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"><!--게시물id--></p>
                                </td>
                                <td>
                                    <p class="mb-0 text-muted view-post-btn" th:text="${post.title}"
                                       th:data-post-id="${post.id}" style="font-size: 14px;"><!--게시물 제목--></p>
                                </td>
                                <td class="ds_flex" style="font-size: 14px; color: #777777">
                                    <p class="mb-0 text-muted" th:text="${post.nickname}"></p>
                                    (<p class="mb-0 text-muted" th:text="${post.ipAddress}"></p>)

                                </td>
                                <td class="text-muted" style="font-size: 14px; color: #777777">
                                    <p th:if="${post.createtime != null}"
                                       th:text="${#temporals.format(post.createtime, 'yyyy-MM-dd HH:mm:ss')}"><!-- 생성일 표시 --></p>
                                    <p th:unless="${post.createtime != null}"> <!-- 생성일이 null일 때 빈칸 표시 -->
                                        <!-- 빈칸 -->
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 글쓰기 버튼 -->
                        <div>
                            <a th:href="@{/post/create}">
                                <button type="button" class="btn btn-success" style="width: 100%; font-size:
                                medium">글쓰기</button>
                            </a>
                        </div>
                        <!-- 페이징 번호 -->
                        <div style="margin-top: 10px">
                            <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li th:classappend="${!paging.hasPrevious()} ? 'disabled'" class="page-item">
                                        <a th:href="@{|?page=${paging.number-1}|}" class="page-link"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                                        th:classappend="${page == paging.number} ? 'active'"
                                        class="page-item">
                                        <a th:text="${page+1}" th:href="@{|?page=${page}|}" class="page-link">1</a>
                                    </li>

                                    <li th:classappend="${!paging.hasNext} ? 'disabled'" class="page-item">
                                        <a th:href="@{|?page=${paging.number+1}|}" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- 게시판 검색 -->
                        <div id="search" class="" style="margin-top: 10px;">
                            <form class="form">
                                <div class="form-row justify-content-center">
                                    <!-- 검색 목록 -->
                                    <div class="dropdown">
                                        <select class="form-control" id="searchOption" style="font-size:
                                         14px">
                                            <option value="title">제목</option>
                                            <option value="content">내용</option>
                                            <option value="titleContent">제목+내용</option>
                                            <option value="nickname">작성자</option>
                                        </select>
                                    </div>
                                    <!-- 검색어 입력창 -->
                                    <div class="form-group col-auto">
                                        <input type="text" class="form-control" id="freeSearch" value=""
                                               placeholder="Search" style="font-size: 14px">
                                    </div>
                                    <div>
                                        <button type="submit" style="width: 3rem; height: 3rem" onclick="searchPost()">
                                            <iconify-icon icon="pepicons-pencil:enter" width="3rem" height="3rem"
                                                          style="color: #545454"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 메인영역 E -->



    <!-- 푸터영역 -->
    <footer id="footer" class="footer-style">
        <div class="copyright">
            copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a> All rights reserved.
        </div>
        <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span>
            <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

        </div>


    </footer>
    <!-- 푸터영역 E -->
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->

<script th:src="@{/js/test.js}"></script> <!-- 모든 기능 이벤트 -->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->

<script src="/ckeditor5/build/ckeditor.js"></script>
<script src="/js/ckeditorscript.js"></script>

<script>
    $(document).ready(function () {
        // 각 게시물의 "보러가기" 버튼 클릭 이벤트 처리
        $(".view-post-btn").click(function () {
            var postId = $(this).data("post-id"); // 해당 버튼에 저장된 게시물 ID 가져오기
            window.location.href = "/post/read/" + postId; // 해당 게시물로 이동
        });
    });
</script>


<script>
    function searchPost(){
        var option = document.getElementById("searchOption").value;
        var keyword = document.getElementById("freeSearch").value;

        // 선택된 옵션에 따라 검색 쿼리 생성
        var query;
        if (option === "title"){
            query = "?title=" + keyword;
        } else if (option === "content") {
            query = "?content=" + keyword;
        } else if (option === "titleContent"){
            query = "?title=" + keyword + "&content=" + keyword;
        } else if (option === "nickname"){
            query = "?nickname=" + keyword;
        }

        // 생성된 검색 쿼리를 이용하여 페이지 이동
        window.location.href = "/post/list" + query;
    }
</script>



<!--<script>  // 스크롤을 위로 올리는 스티키바-->
<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky-bar");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky-bar");-->
<!--        }-->
<!--    });-->

<!--    $(window).on('scroll', function () {-->
<!--        var scroll = $(window).scrollTop();-->
<!--        if (scroll < 245) {-->
<!--            $(".header-sticky").removeClass("sticky");-->
<!--        } else {-->
<!--            $(".header-sticky").addClass("sticky");-->
<!--        }-->
<!--    });-->
<!--</script>-->


<!--<script>  //스크롤 내리면 헤더영역 애니메이션-->
<!--    $(window).scroll(function () {-->
<!--        if ($(window).scrollTop() > 100) {-->
<!--            $("#header").addClass("animated");-->
<!--        } else {-->
<!--            $("#header").removeClass('animated');-->
<!--        }-->
<!--    });-->
<!--</script>-->


</body>

</html>