<!-- probuild.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> <!-- 파비콘 -->


    <link rel="stylesheet" th:href="@{/css/dropdowns.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/itemSaveBtn.css}"/>
    <link rel="stylesheet" th:href="@{/css/lolMain.css}"/>
    <link rel="stylesheet" th:href="@{/css/carryMain.css}"/>
    <link rel="stylesheet" th:href="@{/css/probuild.css}"/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">

    <title>Carry.kr</title>
</head>
<body>
<!-- 최상단 네비바 -->
<nav class="site-header sticky-top py-1" style="background: #8360CE; ">
    <div class="container d-flex flex-column flex-md-row color-white">
        <a href="/" style="margin-right: 20px">
            <h1 class="yellow-text grape_nuts_font font-weight-bold">carry.kr</h1>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/lol">
            <span class="btn-two blue mini" id="btnradio1">
                <img src="/img/lol_Icon.png" style="height: 20px"/>
                리그 오브 레전드
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="/post/list">
            <span class="btn-two blue mini" id="btnradio2">
                <img src="/img/Gersang_Icon.png" style="height: 20px"/>
                거상
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio3">
                <img src="/img/MapleStory_Icon.png" style="height: 20px"/>
                메이플 스토리
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio4">
                <img src="/img/D&F_Icon.png" style="height: 20px"/>던전 앤 파이터
            </span>
        </a>
        <a class="topNavMenu py-2 d-none d-md-inline-block color-white" href="#">
            <span class="btn-two blue mini" id="btnradio5">
                <img src="/img/Loa_Icon.png" style="height: 20px"/>로스트 아크
            </span>
        </a>
    </div>
</nav>
<!--롤 메뉴-->
<nav class="navbar navbar-expand-lg sticky-top py-1 navbar-light bg-light" style="height: 47px; font-size: 14px; font-weight: bolder">
    <div class="container">
        <a class="navbar-brand" href="#">리그 오브 레전드 >> </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">메인</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/itemTier">아이템티어</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/probuild">프로빌드</a>
                </li>
                <li class="navMenu nav-item">
                    <a class="nav-link navMenu" href="/post/list">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--롤 메뉴 End-->
<!-- 헤더영역 E -->
<main id="main">
    <div class="main-title">
        <h1>챌린저 빌드</h1>
        <input type="text" id="searchBox" oninput="search()" placeholder="닉네임이나 챔피언을 검색하세요 (띄어쓰기 구별)">
    </div>
    <!-- Check if leagueEntries is not empty -->
    <div id="leagueEntriesContainer" class="entry" th:if="${not #lists.isEmpty(leagueEntries)}">
        <!-- Loop through each entry in leagueEntries -->
        <div class="match" th:each="entry : ${leagueEntries}">
            <div class="what-use-champ">
                <span class="info-title">Champion</span>
                <p id="nickName"><span th:text="${entry.getSummonerName()}"></span></p>
            </div>
            <div class="most-champion-img" style="display: flex; flex-direction: column;">
                <p class="info-title" style="padding-bottom: 1px;">Most3</p>
                <span th:each="championId : ${entry.championId}" th:text="|${championId},|"></span>
            </div>
            <div class="user-rank-info">
                <div style="display: block;">
                        <p class="info-title" th:text="${entry.getQueueType()}"></p>
                        <p id="RankTier">Tier: <span th:text="${entry.getTier()}"></span></p>
                <p><span th:text="|${entry.getLeaguePoints()}LP|"></span></p>

                    <div class="winrate">
                    <span id="win" th:text="|${entry.getWins()}W|"></span>&nbsp;
                    <span id="lose" th:text="|${entry.getLosses()}L|"></span>
                        <span>&nbsp/&nbsp</span>
                        &nbsp;<span class="winrate_result"></span>
                    </div>
                </div>
            </div>
            <!--<p>Type: <span th:text="${entry.getQueueType()}"></span></p>-->
            <!--<p>Puuid: <span th:text="${entry.getPuuid()}"></span></p>
            <p>MatchId: <span th:text="${entry.getMatchIds()}"></span></p>
-->
            <div class="user-time-line"></div>
            <!-- Loop through each match -->
            <div class="match-box" th:each="matchId : ${entry.getMatchIds()}">
                <!--<p>MatchId: <span th:text="${matchId}"></span></p><br/>-->
                <div class="match-user-info" th:each="participant : ${entry.getParticipants()}">
                    <div class="match-user">
                        <dl id="championName" class="championName">
                            <dd th:text="${participant.championName}"></dd></dl>
                        <dl id="summonerName">
                            <dd th:text="${participant.summonerName}"></dd></dl>
                        <div class="match-info">
                            <dl id="kda">
                                <dd id="kills" th:text="${participant.getKills()}"></dd>
                                <dd id="deaths" th:text="${participant.getDeaths()}"></dd>
                                <dd id="assists" th:text="${participant.getAssists()}"></dd>
                                <dd class="kda-result"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of match loop -->
            <!--<div class="build-up" th:each="matchId : ${entry.getMatchIds()}">
                &lt;!&ndash;<p>MatchId: <span th:text="${matchId}"></span></p><br/>&ndash;&gt;
                <div class="match-user-info" th:each="participant : ${entry.getParticipants()}">
                    <div class="match-user">
                        <dl id="" class="">
                            <dd th:text="${participant.championName}"></dd></dl>
                        <dl id="">
                            <dd th:text="${participant.summonerName}"></dd></dl>
                        <div class="match-info">
                            <dl id="">
                                <dd id="" th:text="${participant.getKills()}"></dd>
                                <dd id="" th:text="${participant.getDeaths()}"></dd>
                                <dd id="" th:text="${participant.getAssists()}"></dd>
                                <dd class="kda-result"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- If leagueEntries is empty, display a message -->
    <div id="doDataMessage" th:unless="${not #lists.isEmpty(leagueEntries)}">
        <p>No data available</p>
    </div>

    <!-- Add dynamic pagination buttons -->
    <div class="page_btn" id="pageBtn">
        <!--<button class="page-btn" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" th:text="${pageNum + 1}" th:attr="data-page=${pageNum}" onclick="loadPage(this.getAttribute('data-page'))"></button>-->
    </div>
</main>

<footer id="footer" class="footer-style">
    <div class="f1l1">
        <div class="footer-notice-wrap">
            <div class="f1l1b1">
                <svg><!--TODO 로고 아이콘--></svg>
                <svg><!--TODO 로고 스펠--></svg>
            </div>
            <div class="f1l1b2">
                <h1 class="title">Permission</h1>
                <svg><!--TODO 롤 아이콘--></svg>
                <svg><!--TODO AK 아이콘--></svg>
                <svg><!--TODO LOA 아이콘--></svg>
                <svg><!--TODO 각종 게임사 아이콘등등--></svg>
            </div>
            <div class="split-line"><!--TODO 칸 나누는 선 링크 https://getbootstrap.kr/docs/5.1/helpers/vertical-rule/--></div>
        </div>
        <section class="f1r1b4">
            <div class="copyright">
                copyright &copy; 2023 <a href="https://github.com/su-hak/Avengers" style="color: #fffc57;">Avengers</a> All rights reserved.
            </div>
            <div>
            <span>
                이 사이트는 Riot Games의 보증을 받지 않으며 Riot Games 또는 공식적으로 관련된 사람의 견해나 의견을 반영하지 않습니다.
            </span><br>
                <span>
                리그 오브 레전드를 제작하거나 관리하는 데 있어 League of Legends 및 Riot Games는 Riot Games의 상표 또는 등록 상표입니다. Inc. 리그 오브 레전드 © Riot Games, Inc.
            </span>

            </div>
        </section>
    </div>
</footer>
<!-- 푸터영역 E -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!--<script src="/js/jquery.sticky.js"></script>-->

<script th:src="@{/js/test.js}"></script> <!-- 모든 기능 이벤트 -->
<script th:src="@{/js/decimal.js}"></script> <!-- 계산식 -->
<script th:src="@{/js/web.js}"></script> <!-- 웹페이지 이벤트 관련 -->
<script th:src="@{/js/main/index.js}"></script> <!-- 메인 페이지 -->
<script th:src="@{/js/main/lolMain.js}"></script> <!--롤 메인 페이지 -->
<script th:src="@{/js/lol_common.js}"></script> <!--롤 공통 -->
<script th:src="@{/js/probuild.js}"></script> <!--챌린저 빌드 -->

</body>
</html>